/* css 重置 */
*{margin:0; padding:0; list-style:none;}
body{ background:#fff; font-family:"微软雅黑"; -webkit-tap-highlight-color:transparent;}
img{ border:0;}
a{ text-decoration:none; color:#333;}
/*index页面*/
.fl{ float: left;}
.fr{ float: right;}
.clear{ clear: both; }
a i{ color:#808080; }
/*tsmanage*/
.pageDiv{padding: 15px 20px;text-align: center;color: #ccc;clear: both;margin-top: 20px;}
.pageDiv a{display: inline-block;color: #4c4c4c;background: #f6fbf9;display: inline-block;height: 25px;	line-height: 25px;	padding: 3px 18px;border: 1px solid #ddd;	margin: 0 2px;vertical-align: middle;font-size: 14px;}
.pageDiv a:hover{text-decoration: none;border: 1px solid #428bca;}
.pageDiv span.current{display: inline-block;height: 25px;line-height: 25px;padding: 0 18px;margin: 0 2px;color: #ed601b;border-radius: 4px;vertical-align: middle;}
.pageDiv span.disabled{display: inline-block;height: 25px;line-height: 25px;padding: 3px 18px;margin: 0 2px;	color: #bfbfbf;background: #f2f2f2;border: 1px solid #bfbfbf;vertical-align: middle;}
.pageDiv span.pagecount{padding: 0 10px;font-size: 14px;color: #999999;margin-right: -30px;}
.pageDiv span.countYe{color: #4C4C4C;font-size: 14px;margin-left: 30px;}
.pageDiv span.countYe input{outline: none;border: 1px solid #ddd;height: 25px;padding: 3px 10px;width: 25px;margin: 0 5px;}
.pageDiv a.turndown{padding: 3px 10px;}
.shopadmin-top{border: none; }
.shopadmin-top tr td{ height: 40px; text-align: center;  line-height:40px;}
.shopadmin-top tr td span{  border: 1px solid #ccc; padding: 5px 15px; border-radius:5px;}
table{font-size: 13px;}
#thead td{ background: #dfe2f5; text-align: center; height: 40px; line-height: 40px;font-size: 16px;}
.button{ width: 100%; background: #0a78fa; height: 38px; color: #fff; border: none; }
.shopadminbox{ border: none; width:100%; }
.shopadminbox .hd{  width: 98%;margin-left: 2%; }
.shopadminbox .hd ul li{ float:left;padding: 5px 15px; margin:0; text-align: center; font-size:15px; color:#000000;border:1px solid #c3c3c3;margin: 0 3px; }
.shopadminbox .hd li.on{ background: #3fa4ed; color:#fff;}
.shopadminbox .bd{ margin-top: 0px;}
#name{background:url("../image/search.png") no-repeat 2% 50%  #fff; text-indent: 3rem;  width:90%; height: 30px; border: none;border-radius:10px; float: left; margin-top: 5px; margin-left: 5%;  display: block; }
.bl{color: #3fa4ed;}
/*统计会员*/
.pro_count{width:100%;margin-top: 1px;background:#3fa4ed;height:112px;}
.pro_count div{width:19.5%;float: left;text-align: center;color:#fff;}
.gun{height:90px;width:1px!important;background: #fff;margin-top: 10px;}
.project{height:52px;line-height:65px;font-size: 18px;}
.num_num{height:46px;line-height: 32px;font-size: 36px;}
.derw_title{border-left:10px solid #3fa4ed;width:90%;margin: 0 1%;height: 31px;line-height: 31px;padding-left:10px;margin-top: 10px;font-size: 18px;}
.derw_title span{margin: 0 15px;}
.from ul li{float:left;font-size:14px;height: 35px;line-height: 35px;}
.draw_detail ul li{float:left;font-size:14px;height: 35px;line-height: 35px;}
.one{width:10%;}
hr{left: 270px;top: 238px;width: 707px;margin-top: 15px;}
.tu i{float: right;margin: 0 5px;}
.qushi{height: 35px;line-height: 35px;text-align: center;}
.xinzen{color:#3fa4ed;float: left;}
.dc>div{float:right;margin:0 10px;}.dc>div>div{font-size:12px;text-align: center;}
.dc{margin: 20px 12%;height: 40px;}
.sx{margin-top: 1px;height:100px;line-height:100px;padding: 0 40px;}
.sx input{width:270px;height: 40px;line-height: 40px;border-radius: 5px;border: 1px solid #c3c3c3;margin:0 10px;}
.sx span{display: inline-block;width:35px;height: 35px;line-height: 35px;text-align: center;font-size: 14px;}
.sel{border: 1px solid #c3c3c3;background: #3fa4ed;color: #fff;}
.day{width:40px!important;}
/*云客统计*/
.yunke_count{width:100%;margin-top: 1px;background:#3fa4ed;height:112px;}
.yunke_count div{width:24.9%;float: left;text-align: center;color:#fff;}
.gun{height:90px;width:1px!important;background: #fff;margin-top: 10px;}
.project{height:52px;line-height:65px;font-size: 18px;}
.num_num{height:46px;line-height: 32px;font-size: 36px;}
.yunke_title{border-left:10px solid #3fa4ed;width:90%;margin:15px 1%;height: 31px;line-height: 31px;padding-left:10px;font-size: 18px;}
.yunke_title span{margin: 0 15px;}
.from ul li{float:left;font-size:14px;height: 35px;line-height: 35px;}
.draw_detail ul li{float:left;font-size:14px;height: 35px;line-height: 35px;}
.one{width:10%;}
.xse{color:red;}
hr{left:270px;top:238px;width:707px;margin-top:15px;}
/*栈代统计*/
.zhandai_count{width:100%;margin-top: 1px;background:#3fa4ed;height:112px;}
.zhandai_count div{width:19.9%;float: left;text-align: center;color:#fff;}
.gun{height:90px;width:1px!important;background: #fff;margin-top: 10px;}
.project{height:52px;line-height:65px;font-size: 18px;}
.num_num{height:46px;line-height: 32px;font-size: 36px;}
.yunke_title{border-left:10px solid #3fa4ed;width:90%;margin:15px 1%;height: 31px;line-height: 31px;padding-left:10px;font-size: 18px;}
.yunke_title span{margin: 0 15px;}
.from ul li{float:left;font-size:14px;height: 35px;line-height: 35px;}
.draw_detail ul li{float:left;font-size:14px;height: 35px;line-height: 35px;}
.one{width:10%;}
.xse{color:red;}
hr{left:270px;top:238px;width:707px;margin-top:15px;}
.check{border:1px solid #BBBBBB;border-radius: 5px;padding:1px 25px;float:right;margin-right: 15%;}
.shangpin{height: 40px;padding:10px 20px;}
.pro_menu{width:100%;}
.pro_menu span{display:inline-block;width:20%;}
/*商品统计*/
.sear{position: relative;}
.sear input{width:80%;margin: 0 10% 0 5%;height:40px;border-radius: 5px;border: 1px solid #c3c3c3;text-align: center;}
.sear i{position: relative;left:7%;}
.yuex input{width:30%;height:40px;border-radius: 5px;border: 1px solid #c3c3c3;text-align: center;}
.yuex i{position: relative;left:2%;}
.mi span{float:left;display:inline-block;width: 30%;text-align: center;}
.qj{margin-top:1px;margin-left:65%; }
.qj input{width:50px;height: 30px;margin:20px 10px;text-align: center;}
/*营销管理*/
.sousu{margin-top: 10px;}
.sousu input{width:80%;height:30px; line-height: 30px;border-radius: 5px;border: 1px solid #c3c3c3;margin: 0 2%;}
.ck input{margin-left: 10px;}
.ck{margin:10px 10%; }
.dcu{color:#0A78FA;}